<p id="notice"><%= notice %></p>

<h3>
  <strong>Tag Name:</strong>
  #<%= @tag.tagname %>
</h3>

<div>Associated Pins:</div>
<ul>
<% @tag.pins.each do |pin| %>
  <li><%= link_to pin.title, pin_path(pin), class:"text-primary" %></li>
<% end %>
</ul>


<%= link_to 'Back', tags_path %>
