<h1>Welcome to Pinspiration!</h1>

<h2>Your Pins</h2>
<% @pins.each do |pin| %>
  <p><%= link_to pin.title, pin %></p>
<% end %>

<h2>Your Comments</h2>
<% @comments.each do |comment| %>
  <p><%= link_to comment.body, comment.pin %>
<% end %>
