<p id="notice"><%= notice %></p>

<div class="container">
<div class="row">
<% @pins.each do |pin| %>
        <a class="col-lg-4 mb-2 text-center" href="/pins/<%= pin.id%>">
        
        <%= image_tag(url_for(pin.url), {:class=>"pin-img"}) %></a>
      <% end %>
</div>
</div>
    <p>
      
    </p>
