<h2>Pinspiration</h2>

<table>
		<% @pin.each do |pin| %>

<tr><p><%= link_to pin_path(pin.id) do %><%=image_tag pin.media_url%><%end%></p><p><%= pin.title%></p></tr>
<% end %>
<tr>
	<td></td>
	<td>
</td>

<td><%=link_to "Add", new_pin_path%></td>
</tr>
</table>