<h2>All Pins</h2>
<br>
<%= link_to 'New Pin', new_pin_path, :class => 'btn btn-primary' %>
<br><br>
<div class="card-columns">
	<% @pins.each do |pin| %>
		<div class="card">
	  	<img class="card-img-top" src=<%= pin.image_url %> alt= <% pin.title %> />
		  <div class="card-body">
		    <h5 class="card-title"><%= pin.title %></h5>
		   	<%= link_to 'Show more', pin_path(pin), :class => "btn btn-secondary" %>
		  </div>
		</div>
	<% end %>
</div>