<h1>Pins#new</h1>
<p>Find me in app/views/pins/new.html.erb</p>

<%= form_with scope: :pin, url: pins_path, local: true do |form| %>

  <p>
  	Title of your pin:<br>
    <%= form.text_area :title %>
  </p>

  <p>
  	Image Url:<br>
    <%= form.text_area :imgurl %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>