<h1>Pin:</h1>
    <p><%= @pin.title %></p>
    <img src=<%= @pin.media_url %>>
<table>
    <tr>
      <td><%= link_to 'Edit', edit_pin_path(@pin.id) %></td>
      <td><%= link_to 'Destroy', pin_path(@pin.id),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
    </tr>
</table>


