<table>
  <thead>
    <tr>
      <th>Comments:</th>
      <th>User:</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <% @comments.each do |comment|%>
    <tr>
        <td><%=comment.body%></td>
        <td><%=comment.user.email%></td>
        <td><%= link_to  "Delete", pin_comment_path(comment.pin_id, comment.id), method: :delete , data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

  </tbody>
</table>
