<p>
  <strong>content:</strong>
  <%= @comment.content %>
</p>



<%= link_to 'Back', root_path %>

<%= link_to 'Edit', edit_comment_path(@comment) %>

<%= link_to 'log out', destroy_user_session_url, method: :delete %>