<h3><%=@user.username%></h3>

<%= link_to "Edit User Profile", edit_user_path(current_user) %>

<div class="container">
	<div class="row">
		<% @user.boards.each do |board| %>
			<div class="card col col-md-4">
			  <img src="..." class="card-img-top">
			  <div class="card-body">
			    <h5 class="card-title"><%= board.name %></h5>
			    <%= link_to "See Board", board_path(board), :class => "btn btn-primary" %>
			  </div>
			</div>
		<% end %>
	</div>
</div>