<h1>Hello tags</h1>

		<button>
		<%= link_to 'New Tag', new_tag_path %>
		</button>
<div class="row border">

  <% @tags.each do |tag| %>


    		<div class = "col-3 text-center">


      		<a href = <%= "/tags/"+ tag.tagtext %>><%= tag.tagtext %></a>

      	</div>






  <% end %>

</div>