<h1 class="text-center">New Pin</h1>
<div class="d-flex justify-content-center">


<%= render 'form', pin: @pin %>


</div>
<button class="text-center d-block mx-auto">
<%= link_to 'Back', pins_path %>
</button>