// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.add-new-pin{
	height: 50px;
	width: 50px;
}

.board-all-pins{
	max-width: 40%
}