// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  position: relative;
  top: 100px;
  max-width: 1012px;
}

.navbar-brand {
  font-size: 20px;
}

.add-item {
  right: 10px;
  bottom: 10px;
  top-margin: 0px;
  bottom-margin: 5px;
  border-radius: 20px 20px;
  position: fixed;
}

.cards {
  display: flex;
  flex-direction: row;
  max-width: 1012px;
}

.container-show-pin {
  max-width: 750px;
}